* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.cuerpo {
    width: 300px;
    height: 500px;
    background-color: rgb(35, 131, 80);
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.cuerpo .pantalla {
    width: 250px;
    height: 250px;
    margin-top: 25px;
    background-color: black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(168, 168, 168);
}

.cuerpo .pantalla .monitor {
    width: 200px;
    height: 160px;
    display: flex;
    align-items: left;
}

.cuerpo .pantalla .monitor .monitor2 {
    width: 150px;
    height: 160px;
    display: flex;
    background-color: rgb(15, 14, 14);
    cursor: pointer;
}

.cuerpo .pantalla .monitor .monitor2 .progress {
    width: 0%;
    height: 100%;
    background-color: rgb(122, 122, 122);
    opacity: 0.3;
}

.cuerpo .pantalla .monitor .monitor2 .time {
    width: 50px;
    height: 20px;
    color: white;
    position: absolute;
    top: 200px;
}

.cuerpo .pantalla .monitor .power {
    width: 22px;
    height: 160px;
    display: flex;
}

.cuerpo .pantalla .monitor .power .power2 {
    width: 6px;
    height: 6px;
    display: flex;
    border-radius: 100%;
    margin-top: 44px;
    background-color: rgba(255, 50, 50, 0.575);
}

.cuerpo .pantalla .monitor .power .powerlinea {
    width: 2px;
    height: 10px;
    display: flex;
    margin: 2px;
    margin-top: 42px;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    background-color: rgb(122, 122, 122);
}

.cuerpo .pantalla .nombre {
    width: 150px;
    height: 30px;
    display: flex;
    padding-top: 20px;
}

.cuerpo .pantalla .c {
    padding-left: 5px;
    color: red;
}

.cuerpo .pantalla .o {
    color: purple;
}

.cuerpo .pantalla .l {
    color: greenyellow;
}

.cuerpo .pantalla .o2 {
    color: yellow;
}

.cuerpo .pantalla .r {
    color: cyan;
}

.cuerpo .controles {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuerpo .controles .nombre {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 40%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(43, 43, 43, 0.651);
}

.cuerpo .controles .botones {
    width: 250px;
    height: 90px;
    display: flex;
}

.cuerpo .controles .botones .cruceta {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cuerpo .controles .botones .cruceta .tecla {
    width: 30px;
    height: 30px;
    display: flex;
}

.cuerpo .controles .botones .cruceta .teclaup {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: rgb(19, 19, 19);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid rgb(58, 58, 58);
    cursor: pointer;
}

.cuerpo .controles .botones .cruceta .teclaleft {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: rgb(19, 19, 19);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid rgb(58, 58, 58);
    cursor: pointer;
}

.cuerpo .controles .botones .cruceta .teclacenter {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: rgb(19, 19, 19);
}

.cuerpo .controles .botones .cruceta .teclaright {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: rgb(19, 19, 19);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid rgb(58, 58, 58);
    cursor: pointer;
}

.cuerpo .controles .botones .cruceta .tecladown {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: rgb(19, 19, 19);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgb(58, 58, 58);
    cursor: pointer;
}

.cuerpo .controles .botones .AB {
    width: 160px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cuerpo .controles .botones .AB .b {
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(19, 19, 19);
    color: blanchedalmond;
    align-items: center;
}

.cuerpo .controles .botones .AB .a {
    width: 30px;
    height: 30px;
    display: flex;
    margin-bottom: 30px;
    margin-left: 20px;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(19, 19, 19);
    color: blanchedalmond;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.cuerpo .controles .botones .AB .a :hover {
    width: 30px;
    height: 30px;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    background-color: darkgray;
}

.cuerpo .controles .botones .AB .a i {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cuerpo .controles .parlante {
    width: 250px;
    height: 80px;
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.cuerpo .controles .parlante .botones {
    width: 80px;
    height: 80px;
    display: flex;
    margin-right: 5px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 11px;
    align-items: flex-start;
}

.cuerpo .controles .parlante .botones .boton {
    width: 25px;
    height: 10px;
    display: flex;
    border-radius: 60%;
    background-color: rgb(19, 19, 19);
    margin: 3px;
}

.cuerpo .controles .parlante .botones .text {
    width: 25px;
    height: 10px;
    display: flex;
    margin: 0px 2px 35px 3px;
}

.cuerpo .controles .parlante .huecos {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.cuerpo .controles .parlante .huecos .huequitos {
    width: 8px;
    height: 8px;
    display: flex;
    border-radius: 100%;
    background-color: rgb(19, 19, 19);
    margin: 1px;
}

.cuerpo .controles .parlante .huecos .huequitos2 {
    width: 8px;
    height: 8px;
    display: flex;
    border-radius: 100%;
    margin: 1px;
}